USE [PharmacyDroneDB]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2019/10/26 13:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](50) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drone]    Script Date: 2019/10/26 13:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drone](
	[DroneID] [int] IDENTITY(1,1) NOT NULL,
	[DroneName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DroneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalSupply]    Script Date: 2019/10/26 13:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalSupply](
	[MedicalSupplyID] [int] IDENTITY(1,1) NOT NULL,
	[MedicalSupplyName] [varchar](20) NOT NULL,
	[MedicalSupplyType] [varchar](10) NOT NULL,
	[MedicalSupplyDesc] [varchar](50) NOT NULL,
	[MedicalSupplyPrice] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicalSupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderRequests]    Script Date: 2019/10/26 13:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderRequests](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNum] [int] NOT NULL,
	[MedicalSupplyID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DroneID] [int] NOT NULL,
	[OrderStatus] [int] NOT NULL DEFAULT 0
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 2019/10/26 13:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [varchar](50) NOT NULL,
	[PatientSurname] [varchar](50) NOT NULL,
	[PatientContact] [varchar](50) NOT NULL,
	[PatientAddress] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2019/10/26 13:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[AccountType] [int] NOT NULL,
	[AccountState] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicalSupply] ON 

INSERT [dbo].[MedicalSupply] ([MedicalSupplyID], [MedicalSupplyName], [MedicalSupplyType], [MedicalSupplyDesc], [MedicalSupplyPrice]) VALUES (1, N'Adderall 30mg', N'Pill', N'Used to treat ADHD', 300)
INSERT [dbo].[MedicalSupply] ([MedicalSupplyID], [MedicalSupplyName], [MedicalSupplyType], [MedicalSupplyDesc], [MedicalSupplyPrice]) VALUES (3, N'Xanax 30mg', N'Pill', N'Used to treat Anxiety', 400)
INSERT [dbo].[MedicalSupply] ([MedicalSupplyID], [MedicalSupplyName], [MedicalSupplyType], [MedicalSupplyDesc], [MedicalSupplyPrice]) VALUES (4, N'Codeine 15mg', N'Pill', N'Used to treat sever pain', 500)
SET IDENTITY_INSERT [dbo].[MedicalSupply] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [Password], [AccountType], [AccountState]) VALUES (1, N'Brandon', N'1234', 1, 2)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [AccountType], [AccountState]) VALUES (2, N'Anthony', N'1234', 0, 1)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [AccountType], [AccountState]) VALUES (3, N'Johan', N'1234', 0, 2)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [AccountType]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [AccountState]
GO
SET IDENTITY_INSERT [dbo].[Drone] ON 
INSERT [dbo].[Drone] ([DroneName]) VALUES(N'FastFlyer')
INSERT [dbo].[Drone] ([DroneName]) VALUES(N'QuickDrone')
INSERT [dbo].[Drone] ([DroneName]) VALUES(N'Zoom')
SET IDENTITY_INSERT [dbo].[Drone] OFF 
